<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>Offload uses your contacts to link communication reminders for one-touch calling, texting, or emailing.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>sms</string>
		<string>mailto</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/BebasNeue-Regular.ttf</string>
		<string>Resources/Fonts/SpaceGrotesk-Regular.ttf</string>
		<string>Resources/Fonts/SpaceGrotesk-Bold.ttf</string>
	</array>
</dict>
</plist>
